Make a new message:<br>
<form method="post" action="/messages">
  Content: <input type="text" name="content" /><br>
  Alien Id: <input type="text" name="alien_id" /><br>
  <input type="submit" value="submit" />
</form>
