Hello! Welcome!
This site is mainly useful to people who want to record what aliens live where in the universe, and their messages to us.
If you have info you'd like to record,
<a href="/aliens/new">add an alien</a>,
<a href="/locations/new">add a location</a>
<a href="/messages/new">add a message</a>, or
<a href="/powers/new">add an alien power</a>.
