Hello! Below are images of the locations you have visited. If you would like to edit alien info, feel free.
<br>To add a new location, go <a href="/locations/new">here</a>

<%@locations.each do |location|%>
  Hi!
<%end%>
