search by the date of your travels to add a location(format: YYYY-MM-DD):
<br><form action="/locations" method="post">
  Date you traveled: <input type="text" name="date" />
  <input type="submit" value="submit" />
</form>
